.help-icon {
  color: var(--secondary-text-color);
  cursor: pointer;
}

.help-text {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  color: var(--secondary-text-color);
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 12px;
  margin-top: 8px;
  padding: 8px;

  a {
    color: var(--primary-color);
    text-decoration: none;
  }
}
