@use 'color-picker';
@use 'help-text';

.card-config {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

ha-select,
ha-textfield,
ha-entity-picker:not(:defined) {
  /* Match ha-textfield height */
  background-color: var(--mdc-text-field-fill-color, whitesmoke);
  border-radius: 4px;
  display: block;
  height: 56px;
}

ha-entity-picker,
ha-formfield {
  display: block;
  margin-top: 12px;
}

ha-entity-picker,
ha-formfield,
ha-select {
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.section {
  border: 1px solid var(--divider-color);
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 12px;
}

.section-header {
  align-items: center;
  display: flex;
  justify-content: space-between;

  h3 {
    margin-bottom: 0;
  }
}

.help-icon {
  order: 1;
}

h3,
h4 {
  color: var(--primary-text-color);
  margin: 0 0 8px;
  padding: 0;

  &:not(:first-child) {
    margin-top: 12px;
  }
}

h3 {
  font-size: 16px;
  font-weight: 500;
}

h4 {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 500;
  margin-top: 12px;
}
