.content-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding-bottom: 16px;
}

.info p {
  margin: 4px 0;
}

.radar-chart {
  height: 220px;
  position: relative;
  width: 220px;
}

.compass {
  height: 220px;
  width: 220px;
}

.compass-pointer {
  transform-origin: 50% 50%;
  transition: transform 0.5s ease-in-out;
}

.warning {
  color: var(--error-color);
}
